{% load static %}
<footer>
    <div class="first_footer">
        <div>
            <a href="https://www.gedik.edu.tr/">
                <img src="{% static 'photos/igun-logo-trk.png'%}" alt="Üniversite Logo">
            </a>
        </div>
        <div class="div_icon">
            <h3 class="text-uppercase fw-bold" style="text-align: center;
                margin-top: 10px;
                color:#1d2653;">Sosyal Medya</h3>
            <ul class="icon_list">
                <li class="icon_item">
                    <span>
                        <a href="https://open.spotify.com/playlist/6yTBZiFpJohflsXk70tCQa?si=a7e369d6e47e4ba4">
                            <i class="fa-brands fa-spotify fa-2xl i1"></i>
                        </a>
                    </span>
                </li>
                <li class="icon_item">
                    <span>
                        <a href="https://www.instagram.com/igunkulturedebiyat/">
                            <i class="fa-brands fa-instagram fa-2xl i2"></i>
                        </a>
                    </span>
                </li>
                <li class="icon_item">
                    <span>
                        <a href="https://chat.whatsapp.com/FJmyYnev3P85oQUJ1LFgM9">
                            <i class="fa-brands fa-whatsapp fa-2xl i3"></i>
                        </a>
                    </span>
                </li>
            </ul>
        </div>
        <div class="address">
            <h3 class="text-uppercase fw-bold" style="text-align: center;
                margin-top: 10px;
                color:#1d2653;">Adres</h3>
            <p style="padding: 20px; text-align: center; color: #1d2653;">Cumhuriyet Mahallesi İlkbahar Sokak No:
                1-3-5 Yakacık
                34876 Kartal / İstanbul</p>
        </div>
        <div class="contact">
            <h3 class="text-uppercase fw-bold" style="text-align: center;
                margin-top: 10px;
                color:#1d2653;">İletişim</h3>
            <p style="padding: 5px; text-align: center; color: #1d2653;">Telefon: 0 555 555 55 55</p>
            <p style="text-align: center; color: #1d2653;">E-Mail: kültüredebiyat.gedik.edu.tr</p>
        </div>
    </div>
    <div class="footer_box">
        <p class="text-uppercase fw-bold" style="text-align: center; padding: 15px; color: #1d2653;">Alperen
            ATASEVEN tarafından hazırlanmıştır.
        </p>
    </div>
</footer>
