{% extends 'core/base.html' %}

{% block title %} {{title}} | {% endblock title %} <!--Title kısmını django ile aktif ettik (views.py)-->

{% block content %}
<main>
    <div class="text-center pt-5 mt-4">
        <h1 style="color: #1d2653;" class="text-uppercase fw-bold fs-3">Giriş Yap</h1>
    </div>
    <hr>
    <div class="container sign_up">
        <div class="row">
            <div class="col-sm-5 mx-auto">
                <form>
                    <div class="mb-4">
                        <label for="inputNumber" class="form-label">Öğrenci No</label>
                        <input type="email" class="form-control" id="inputNumber">
                    </div>
                    <div class="mb-4">
                        <label for="exampleInputPassword1" class="form-label">Şifre</label>
                        <input type="password" class="form-control" id="exampleInputPassword1">
                    </div>
                    <div class="col-12 text-center">
                        <button type="submit" class="btn btn-primary text-uppercase">Giriş Yap</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</main>
{% endblock %}