{% extends 'blog_core/base.html' %}
{% block title %} {{blog_title}} | {% endblock title %} <!--Title kısmını django ile aktif ettik (views.py)-->
{% block content %}
<main>
    <div class="container-fluid">
        <div class="text-center pt-5 mx-5">
            <h1 style="color: #1d2653;" class="text-uppercase fw-bold fs-3">Blog</h1>
        </div>
        <hr><!--Populer Yazilar-->
        <article>
            <div class="container">
                <div class="row">
                    <div class="col-sm-12 mt-5">
                        <h2 class="h6 fw-bold text-uppercase">
                            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"
                                class="bi bi-book" viewBox="0 0 16 16">
                                <path
                                    d="M1 2.828c.885-.37 2.154-.769 3.388-.893 1.33-.134 2.458.063 3.112.752v9.746c-.935-.53-2.12-.603-3.213-.493-1.18.12-2.37.461-3.287.811V2.828zm7.5-.141c.654-.689 1.782-.886 3.112-.752 1.234.124 2.503.523 3.388.893v9.923c-.918-.35-2.107-.692-3.287-.81-1.094-.111-2.278-.039-3.213.492V2.687zM8 1.783C7.015.936 5.587.81 4.287.94c-1.514.153-3.042.672-3.994 1.105A.5.5 0 0 0 0 2.5v11a.5.5 0 0 0 .707.455c.882-.4 2.303-.881 3.68-1.02 1.409-.142 2.59.087 3.223.877a.5.5 0 0 0 .78 0c.633-.79 1.814-1.019 3.222-.877 1.378.139 2.8.62 3.681 1.02A.5.5 0 0 0 16 13.5v-11a.5.5 0 0 0-.293-.455c-.952-.433-2.48-.952-3.994-1.105C10.413.809 8.985.936 8 1.783z" />
                            </svg>
                            Popüler Yazılar
                            <hr>
                        </h2>
                    </div>
                </div>
                <!--yazi1-->
                <div class="row">
                    <div class="col-sm-4">
                        <div class="row">
                            <div class="col-2 fw-bold h3" style="opacity: 0.3;">1</div>
                            <div class="col-10">
                                <div>
                                    <a href="#" class="text-decoration-none text-body-tertiary">
                                        <small class="ms-1">
                                            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16"
                                                fill="currentColor" class="bi bi-person-circle" viewBox="0 0 16 16">
                                                <path d="M11 6a3 3 0 1 1-6 0 3 3 0 0 1 6 0z" />
                                                <path fill-rule="evenodd"
                                                    d="M0 8a8 8 0 1 1 16 0A8 8 0 0 1 0 8zm8-7a7 7 0 0 0-5.468 11.37C3.242 11.226 4.805 10 8 10s4.757 1.225 5.468 2.37A7 7 0 0 0 8 1z" />
                                            </svg>
                                            Alperen ATASEVEN
                                        </small>
                                    </a>
                                </div>
                                <div>
                                    <a href="#" class="text-decoration-none text-dark">
                                        <h2 class="h6 mt-1 fw-bold">Lorem ipsum dolor sit amet.</h2>
                                    </a>
                                </div>
                                <ul class="list-inline" style="font-size: 12px; opacity: 0.4;">
                                    <li class="list-inline-item">11 Kasım</li>
                                    <li class="list-inline-item">2 dakika önce yazıldı.</li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <!--yazi2-->
                    <div class="col-sm-4">
                        <div class="row">
                            <div class="col-2 fw-bold h3" style="opacity: 0.3;">2</div>
                            <div class="col-10">
                                <div>
                                    <a href="#" class="text-decoration-none text-body-tertiary">
                                        <small class="ms-1">
                                            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16"
                                                fill="currentColor" class="bi bi-person-circle" viewBox="0 0 16 16">
                                                <path d="M11 6a3 3 0 1 1-6 0 3 3 0 0 1 6 0z" />
                                                <path fill-rule="evenodd"
                                                    d="M0 8a8 8 0 1 1 16 0A8 8 0 0 1 0 8zm8-7a7 7 0 0 0-5.468 11.37C3.242 11.226 4.805 10 8 10s4.757 1.225 5.468 2.37A7 7 0 0 0 8 1z" />
                                            </svg>
                                            Alperen ATASEVEN
                                        </small>
                                    </a>
                                </div>
                                <div>
                                    <a href="#" class="text-decoration-none text-dark">
                                        <h2 class="h6 mt-1 fw-bold">Lorem ipsum dolor sit amet.</h2>
                                    </a>
                                </div>
                                <ul class="list-inline" style="font-size: 12px; opacity: 0.4;">
                                    <li class="list-inline-item">11 Kasım</li>
                                    <li class="list-inline-item">2 dakika önce yazıldı.</li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <!--yazi3-->
                    <div class="col-sm-4">
                        <div class="row">
                            <div class="col-2 fw-bold h3" style="opacity: 0.3;">3</div>
                            <div class="col-10">
                                <div>
                                    <a href="#" class="text-decoration-none text-body-tertiary">
                                        <small class="ms-1">
                                            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16"
                                                fill="currentColor" class="bi bi-person-circle" viewBox="0 0 16 16">
                                                <path d="M11 6a3 3 0 1 1-6 0 3 3 0 0 1 6 0z" />
                                                <path fill-rule="evenodd"
                                                    d="M0 8a8 8 0 1 1 16 0A8 8 0 0 1 0 8zm8-7a7 7 0 0 0-5.468 11.37C3.242 11.226 4.805 10 8 10s4.757 1.225 5.468 2.37A7 7 0 0 0 8 1z" />
                                            </svg>
                                            Alperen ATASEVEN
                                        </small>
                                    </a>
                                </div>
                                <div>
                                    <a href="#" class="text-decoration-none text-dark">
                                        <h2 class="h6 mt-1 fw-bold">Lorem ipsum dolor sit amet.</h2>
                                    </a>
                                </div>
                                <ul class="list-inline" style="font-size: 12px; opacity: 0.4;">
                                    <li class="list-inline-item">11 Kasım</li>
                                    <li class="list-inline-item">2 dakika önce yazıldı.</li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
                <br>
                <!--yazi4-->
                <div class="row">
                    <div class="col-sm-4">
                        <div class="row">
                            <div class="col-2 fw-bold h3" style="opacity: 0.3;">4</div>
                            <div class="col-10">
                                <div>
                                    <a href="#" class="text-decoration-none text-body-tertiary">
                                        <small class="ms-1">
                                            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16"
                                                fill="currentColor" class="bi bi-person-circle" viewBox="0 0 16 16">
                                                <path d="M11 6a3 3 0 1 1-6 0 3 3 0 0 1 6 0z" />
                                                <path fill-rule="evenodd"
                                                    d="M0 8a8 8 0 1 1 16 0A8 8 0 0 1 0 8zm8-7a7 7 0 0 0-5.468 11.37C3.242 11.226 4.805 10 8 10s4.757 1.225 5.468 2.37A7 7 0 0 0 8 1z" />
                                            </svg>
                                            Alperen ATASEVEN
                                        </small>
                                    </a>
                                </div>
                                <div>
                                    <a href="#" class="text-decoration-none text-dark">
                                        <h2 class="h6 mt-1 fw-bold">Lorem ipsum dolor sit amet.</h2>
                                    </a>
                                </div>
                                <ul class="list-inline" style="font-size: 12px; opacity: 0.4;">
                                    <li class="list-inline-item">11 Kasım</li>
                                    <li class="list-inline-item">2 dakika önce yazıldı.</li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <!--yazi5-->
                    <div class="col-sm-4">
                        <div class="row">
                            <div class="col-2 fw-bold h3" style="opacity: 0.3;">5</div>
                            <div class="col-10">
                                <div>
                                    <a href="#" class="text-decoration-none text-body-tertiary">
                                        <small class="ms-1">
                                            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16"
                                                fill="currentColor" class="bi bi-person-circle" viewBox="0 0 16 16">
                                                <path d="M11 6a3 3 0 1 1-6 0 3 3 0 0 1 6 0z" />
                                                <path fill-rule="evenodd"
                                                    d="M0 8a8 8 0 1 1 16 0A8 8 0 0 1 0 8zm8-7a7 7 0 0 0-5.468 11.37C3.242 11.226 4.805 10 8 10s4.757 1.225 5.468 2.37A7 7 0 0 0 8 1z" />
                                            </svg>
                                            Alperen ATASEVEN
                                        </small>
                                    </a>
                                </div>
                                <div>
                                    <a href="#" class="text-decoration-none text-dark">
                                        <h2 class="h6 mt-1 fw-bold">Lorem ipsum dolor sit amet.</h2>
                                    </a>
                                </div>
                                <ul class="list-inline" style="font-size: 12px; opacity: 0.4;">
                                    <li class="list-inline-item">11 Kasım</li>
                                    <li class="list-inline-item">2 dakika önce yazıldı.</li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <!--yazi6-->
                    <div class="col-sm-4">
                        <div class="row">
                            <div class="col-2 fw-bold h3" style="opacity: 0.3;">6</div>
                            <div class="col-10">
                                <div>
                                    <a href="#" class="text-decoration-none text-body-tertiary">
                                        <small class="ms-1">
                                            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16"
                                                fill="currentColor" class="bi bi-person-circle" viewBox="0 0 16 16">
                                                <path d="M11 6a3 3 0 1 1-6 0 3 3 0 0 1 6 0z" />
                                                <path fill-rule="evenodd"
                                                    d="M0 8a8 8 0 1 1 16 0A8 8 0 0 1 0 8zm8-7a7 7 0 0 0-5.468 11.37C3.242 11.226 4.805 10 8 10s4.757 1.225 5.468 2.37A7 7 0 0 0 8 1z" />
                                            </svg>
                                            Alperen ATASEVEN
                                        </small>
                                    </a>
                                </div>
                                <div>
                                    <a href="#" class="text-decoration-none text-dark">
                                        <h2 class="h6 mt-1 fw-bold">Lorem ipsum dolor sit amet.</h2>
                                    </a>
                                </div>
                                <ul class="list-inline" style="font-size: 12px; opacity: 0.4;">
                                    <li class="list-inline-item">11 Kasım</li>
                                    <li class="list-inline-item">2 dakika önce yazıldı.</li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </article>
        <!--'Populer Yazilar' End-->
        <hr>
        <!--Yeni Yazilar-->
        <section class="container mt-4">

            <div class="col-sm-12 mt-5">
                <h2 class="h6 fw-bold text-uppercase">
                    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"
                        class="bi bi-book" viewBox="0 0 16 16">
                        <path
                            d="M1 2.828c.885-.37 2.154-.769 3.388-.893 1.33-.134 2.458.063 3.112.752v9.746c-.935-.53-2.12-.603-3.213-.493-1.18.12-2.37.461-3.287.811V2.828zm7.5-.141c.654-.689 1.782-.886 3.112-.752 1.234.124 2.503.523 3.388.893v9.923c-.918-.35-2.107-.692-3.287-.81-1.094-.111-2.278-.039-3.213.492V2.687zM8 1.783C7.015.936 5.587.81 4.287.94c-1.514.153-3.042.672-3.994 1.105A.5.5 0 0 0 0 2.5v11a.5.5 0 0 0 .707.455c.882-.4 2.303-.881 3.68-1.02 1.409-.142 2.59.087 3.223.877a.5.5 0 0 0 .78 0c.633-.79 1.814-1.019 3.222-.877 1.378.139 2.8.62 3.681 1.02A.5.5 0 0 0 16 13.5v-11a.5.5 0 0 0-.293-.455c-.952-.433-2.48-.952-3.994-1.105C10.413.809 8.985.936 8 1.783z" />
                    </svg>
                    Yeni Yazılar
                </h2>
            </div>
            <hr>
            <div class="row">
                
                    {% for post in posts %}
                    {% include 'components/post.html' %}
                    {% endfor %}
                    
                <div class="col-sm-4 data-spy="affix" data-offset-top="200">
                    <h1 class="h5 fw-bold text-uppercase text-center mt-3">Kategoriler</h1>
                    <br>
                    <ul class="list-group list-group-flush">
                        {% for category in categories %}
                        <li class="list-group-item text-center">
                            <a href="#" class="text-decoration-none nav-button fw-bold">
                                {{ category.title }}
                            </a>
                        </li>
                        {% endfor %}
                    </ul>
                    <ul class="list-inline mt-3" style="font-size: 12px; opacity: 0.8;">
                        {% for tag in tags %}
                            <li class="list-inline-item">
                                <a href="#" class="text-decoration-none text-muted fs-14 text-center">{{ tag.title }}</a>
                            </li>
                        {% endfor %}
                    </ul>
                </div>
            </div>

        </section>
        <!--Yeni Yazilar End-->
</main>
{% endblock %}