{% extends 'core/base.html' %}

{% block content %}

<main>
    <div class="text-center pt-5 mt-4">
        <h1 style="color: #1d2653;" class="text-uppercase fw-bold fs-3">Kulübümüze Üye Olun</h1>
    </div>

    <hr>
    <div class="container sign_up">
        <div class="row">
            <div class="col-sm-5 mx-auto">
                <form class="row g-4">
                    <div class="col-12">
                        <label for="inputName" class="form-label">İsim-Soyisim</label>
                        <input type="text" class="form-control" id="inputName">
                    </div>
                    <div class="col-12">
                        <label for="inputDepartment" class="form-label">Bölüm</label>
                        <input type="text" class="form-control" id="inputDepartment"
                            placeholder="Yönetim Bilişim Sistemleri">
                    </div>
                    <div class="col-12">
                        <label for="inputNumber" class="form-label">Öğrenci No</label>
                        <input type="text" class="form-control" id="inputNumber" placeholder="123456789">
                    </div>
                    <div class="col-12">
                        <label for="inputPhone" class="form-label">Telefon No</label>
                        <input type="tel" class="form-control" id="inputPhone" placeholder="(555) 555 55 55">
                    </div>
                    <div class="col-12">
                        <label for="inputEmail" class="form-label">E-mail</label>
                        <input type="email" class="form-control" id="inputEmail" aria-describedby="emailHelp"
                            placeholder="123@example.com">
                    </div>
                    <div class="col-12">
                        <label for="inputPassword" class="form-label">Şifre</label>
                        <input type="password" class="form-control" id="inputPassword">
                    </div>

                    <div class="col-12">
                        <label for="inputPassword" class="form-label">Şifreyi Tekrar Giriniz</label>
                        <input type="password" class="form-control" id="inputPassword">
                    </div>

                    <div class="col-12 text-center">
                        <button type="submit" class="btn btn-primary text-uppercase">Üye Ol</button>
                    </div>
                </form>
            </div>
        </div>

    </div>
</main>

{% endblock %}